<h2>Donativos</h2>
<div class="row">
	<div class="col-4" style="background-color: lightskyblue; padding: 15px;">
		<p>Duarte</p>
		<p>web</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id justo eu tortor pharetra ornare. Cras sodales iaculis lectus, nec condimentum massa sodales id</p>
	</div>
	<div class="col-4" style="background-color: lightskyblue; padding: 15px;">
		<p>Duarte</p>
		<p>web</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id justo eu tortor pharetra ornare. Cras sodales iaculis lectus, nec condimentum massa sodales id</p>
	</div>
	<div class="col-4" style="background-color: lightskyblue; padding: 15px;">
		<p>Duarte</p>
		<p>web</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id justo eu tortor pharetra ornare. Cras sodales iaculis lectus, nec condimentum massa sodales id</p>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<p>Onde são aplicados os donativos</p>
	</div>
	<div class="col-12" style="background-color: lightskyblue; padding: 15px;">
		<p>Esterilização de gatos de rua</p>
		<p>Cuidados dos gatos a nosso cargo (alimentação, saúde, higiene)</p>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<p>Donativos em dinheiro</p>
	</div>
	<div class="col-12" style="background-color: lightskyblue; padding: 15px;">
		<p>Todos os cêntimos contam!</p>

	</div>
</div>
<div class="row">
	<div class="col-12">
		<p>Donativos em generos</p>
	</div>
	<div class="col-12" style="background-color: lightskyblue; padding: 15px;">
		<p>Desparasitantes internos e externos;

			Medicamentos (stomorgyl, clavamox, etc);

			Areão para gato;

			Detergentes;

			Ração para gato; Latinhas de patês e comida húmida ...</p>
	</div>
</div>
<p>Quer entregar donativos?
	Contacte-nos para: geral.ondehagato@gmail.com</p>
