<h2>Programa CER (Capturar, Esterilizar, Recolocar)</h2>
<p>No concelho de Almada são inúmeras as colónias de gatos existentes.

	Um dos objectivos principais da Associação Onde Há Gato, Não Há Rato é controlar estas colónias Capturando, Esterilizando e Recolocando (Programa CER).

		Não existem famílias para todos os animais. A esterilização é a forma mais equilibrada de evitar que muitos animais vivam na rua, adoeçam e sejam vítimas de maus tratos. Uma colónia esterilizada é uma colónia saudável e em equilíbrio com o meio envolvente.





	Alimento/Conheço uma colónia de gatos: posso contactar a associação para os esterilizar?

	Sim (aplicável apenas ao concelho de Almada).

	Ficará em lista de espera e, assim que conseguirmos, contactá-lo-emos para avaliar a situação.



	Como posso ajudar?

	Apadrinhe uma colónia e ajude-nos a esterilizar os animais, através de donativos monetários.</p>
<button>
	Candidatura ao programa de esterilização de gatos de rua
</button>
