<h2>Ser Sócio</h2>
<p>Se pretende ajudar animais e ter um papel activo na associação, ser sócio é a melhor opção.</p>
<h3>
	Vantagens de ser sócio:
</h3>
<ul>
	<li>Usufrui de vantagens esclusivas nos nosso parceiros</li>
	<li>Contribui anualmente para esta causa através da sua quota</li>
	<li>Pode eleger e até fazer parte dos orgãos sociais</li>
	<li>Pode intervir mais directamente na vida e rumo da associação</li>
</ul>
<h3>Valor da quota anual</h3>
<ul>
	<li>Particulares: 15€</li>
	<li>Pequenas empresas: 50€</li>
	<li>Médias e grandes empresas: 100€</li>
</ul>
<button>Quero ser sócio</button>
<h2>Parceiros que oferecem descontos aos nossos sócios</h2>
<div class="row">

	<div class="col-6">
		<p>Para o seu animal</p>
	</div>
	<div class="col-6">
		<p>Para si</p>
	</div>
</div>
