<h2>Encontrei um gato, e agora?</h2>
<p>Uma associação não é uma entidade abstracta, com recursos ilimitados e não nos é possível solucionar todos os problemas. Por outro lado, há muita coisa que pode fazer, enquanto cidadão comum, para ajudar a resolvê-los.</p>
<p>Encontrou um gato abandonado, recolheu-o, mas não pode ficar com ele?



	Tire boas fotografias do gatinho e experimente:

	divulgar entre os seus amigos e conhecidos (pessoalmente e através das redes sociais)

	colocar um anúncio na secção de adopções dos sites de classificados (por exemplo, OLX, Custojusto, etc.)

	colocar um anúncio em sites especializados como adopta-me.org ou animalife.pt

	pode ainda anúnciar directamente na nossa página



	Muitas das pessoas que nos contactam e seguem esta estratégia, acabam por encontrar donos para os gatos mais rapidamente do que nós conseguiríamos, uma vez que, em vez de dezenas de gatos, têm apenas alguns nos quais podem concentrar todos os seus esforços de divulgação.



	O abandono de animais diz respeito a todos nós. Pertencendo ou não a uma associação, todos temos recursos ao nosso dispôr e podemos fazer parte da solução.</p>

<button>Contactar a Onde Há Gaato</button>
<p>Encontrei um gato ferido na rua, o que fazer?


	A aproximação de um gato (ou qualquer outro animal) ferido deve ser feita com cuidado, pois o facto de estar assustado e em sofrimento pode desencadear reações de defesa que podem levá-lo a morder ou arranhar.



	Verifique se o animal está consciente ou inconsciente.

	Caso esteja inconsciente, mas respire, deite-o sobre seu lado direito, com a cabeça inclinada para trás e ligeiramente mais elevada em relação ao corpo

	Cubra o animal para manter sua temperatura corporal.

	Se o animal não respira tente a reanimação boca-nariz.

	Se tiver possibilidades económicas para suportar o tratamento e disponibilidade para o tratar leve-o imediatamente ao veterinário. Se não, e estiver na área do concelho de Almada, contacte-nos. Tentaremos responder com brevidade. Mantenha o animal num local sossegado.




	Encontrei um gato aflito na rua, e agora?

	1)    Verificar o comportamento do gato e perceber se precisa de ajuda.

	Um gato que se perdeu ou foi abandonado tenderá a:

	​

	Miar e responder à sua voz (por vezes de forma aflitiva)

	Aproximar-se das pessoas, casas, alpendres, carros…

	Ter um pelo sujo e desgrenhado

	Fazer contacto visual com as pessoas



	Por oposição a um “gato de rua” (gato assilvestrado) que tende a ser fugidio e discreto, não mia nem se aproxima de pessoas, tem uma pelagem cuidada.



	Se o gato não parece estar aflito é provavelmente um gato de alguém da vizinhança que está habituado a passear na rua ou um "gato de rua" (ou assilvestrado). Os gatos assilvestrados, dificilmente se adaptarão à vida de “animal doméstico”, em contacto próximo com pessoas. Note-se também que existem gatos que são meigos, mas estão habituados à vida em liberdade, na rua (frequentemente em zonas de restaurantes, ou em locais onde alguém lhes dá comida). Confinar este tipo de gato a uma casa ou apartamento não será melhor opção na maior parte dos casos, uma vez que a mudança de ambiente causará grande ansiedade ao animal (embora existam excepções).



	Se verificar que o gato não parece ter sido abandonado ou não está aflito deixe-o estar. O gato é um animal versátil que, ao contrário do cão, consegue sobreviver na rua sem intervenção humana. Se pretende adoptar, dê prioridade aos animais que foram abandonados e não conseguem sobreviver sozinhos na rua (gatos errantes).





	2)    Dar-lhe água e comida
	​


	3)   Caso tenha sido abandonado e esteja aflito: recolhê-lo ou encontrar quem possa recolhê-lo (entre conhecidos, amigos e familiares).
	Não assuma que as associações de protecção de animais podem recolhê-lo. A maior parte estão sobrelotadas.

	Atenção: se tiver outros animais, procure não misturá-los com este gato, uma vez que este pode ser portador de doenças contagiosas.

	​

	4)    Procurar o seu dono
	Procurar no site encontra-me.org

	Publicar a fotografia do gato nas redes sociais

	Perguntar nos estabelecimentos comerciais da sua zona se alguém perdeu um gato

	Faça folhetos com a fotografia do gato e espalhe-os pela sua área de residência

	Vá com o gato ao veterinário e verifique se tem chip

	Avisar associações de protecção de animais (uma vez que recebem diversos contactos de donos que procuram os seus animais)



	5)    Se o dono não aparecer adopte-o (não se esqueça de o levar ao veterinário) ou procure um novo lar para o gato

	Pergunte entre os seus conhecidos, amigos e familiares

	Partilhe apelos nas redes sociais

	Publique anúncios em sites de adopção (p.e. adopta-me.org, animal life, entre outros)

	Publique anúncios em sites de classificados (OLX, custojusto…) que têm secções dedicadas à adopção de animais</p>
