<h2>Programa de Voluntariado</h2>
<div class="row">
	<p>Voluntariado «é o conjunto de ações (...) de interesse social e comunitário, realizadas de forma desinteressada por pessoas, no âmbito de projetos, programas e outras formas de intervenção ao serviço dos indivíduos, das famílias e da comunidade, desenvolvidos sem fins lucrativos por entidades públicas ou privadas. Não são consideradas atuações voluntárias ainda que, desinteressadas, todas aquelas que tenham um carácter isolado e esporádico ou sejam determinadas por razões familiares, de amizade e boa vizinhança» (Art.º 2.º da Lei n.º 71/98, de 3 de Novembro)

		​

		​

		O trabalho na Onde há Gato desenvolve-se graças aos voluntários.

		Tal como qualquer outra organização, uma associação tem necessidades de trabalho específicas, que se prendem com as diversas actividades que realiza. Por isso, publicamos regulamente vagas de voluntariado, com vista a preencher as necessidades da associação.



		Se queres colaborar connosco, por favor consulta as vagas disponíveis em baixo.

		​

		Queres receber no teu email as novas oportunidades para colaborar connosco (novas vagas e eventos pontuais, como feiras e recolhas de donativos)? Subscreve a nossa newsletter específica para este fim e enviar-te-emos as novidades.</p>
	<button>Receber Novidades</button>
</div>

<h2>Vagas Disponíveis</h2>

<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-4">
				<img src="../../../assets/actividades.webp" alt="">
			</div>
			<div class="col-8">
				<p>Esterilização de gatos de rua (auxílio na captura, transporte e libertação)</p>
				<p>Uma parte fundamental da missão da Onde há Gato não há Rato é o programa CER (Capturar, Esterilizar, Recolocar) que visa o controlo das colónias de gatos de rua, evitando a sobrepopulação.  Muitas colónias são alimentadas à noite e nesse horário que temos a possibilidade de intervir.</p>
				<button>Candidaturas</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-4">
				<img src="../../../assets/actividades.webp" alt="">
			</div>
			<div class="col-8">
				<p>Esterilização de gatos de rua (auxílio na captura, transporte e libertação)</p>
				<p>Uma parte fundamental da missão da Onde há Gato não há Rato é o programa CER (Capturar, Esterilizar, Recolocar) que visa o controlo das colónias de gatos de rua, evitando a sobrepopulação.  Muitas colónias são alimentadas à noite e nesse horário que temos a possibilidade de intervir.</p>
				<button>Candidaturas</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-4">
				<img src="../../../assets/actividades.webp" alt="">
			</div>
			<div class="col-8">
				<p>Esterilização de gatos de rua (auxílio na captura, transporte e libertação)</p>
				<p>Uma parte fundamental da missão da Onde há Gato não há Rato é o programa CER (Capturar, Esterilizar, Recolocar) que visa o controlo das colónias de gatos de rua, evitando a sobrepopulação.  Muitas colónias são alimentadas à noite e nesse horário que temos a possibilidade de intervir.</p>
				<button>Candidaturas</button>
			</div>
		</div>
	</div>
</div>
