<h2 class="aero">Orgãos Sociais 2019-2021</h2>

<h3 class="aero">Assembleia Geral</h3>
<b>Presidente</b>
<p>Rita Fernandes</p>

<b>Vice-Presidente</b>
<p>Sofia Silva</p>

<b>Secretária</b>
<p>Amador</p>

<h3 class="aero">Conselho Fiscal</h3>
<b>Presidente</b>
<p>Ana Paula Farinha</p>

<b>Secretária</b>
<p>Vanessa Esteves</p>

<b>Relator</b>
<p>Mariana Leite</p>

<h3 class="aero">Direcção</h3>
<b>Presidente</b>
<p>Cláudia Figueira</p>

<b>Vice-presidente</b>
<p>Lurdes Soares</p>

<b>Tesoureira</b>
<p>Maria Soledade</p>

<b>Suplentes</b>
<p>Paula Rosa</p>
<p>Manuel Pereira</p>

