<div style="background-color: #6dbdec; padding: 15px;">
	<h2>Partilhando Vivencias</h2>
	<div class="row">
		<div class="col-4">
			<img src="../../assets/img03.jpg" class="w-100" alt="">
		</div>
		<div class="col-8">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id justo eu tortor pharetra ornare. Cras sodales iaculis lectus, nec condimentum massa sodales id. Duis dapibus posuere lorem, eu facilisis velit sagittis sed. Aenean enim velit, viverra ac erat id, interdum ultrices mi. Proin pellentesque ac nunc at malesuada.
			</p>
		</div>
	</div>
</div>
