<h2>Adoptar através da Onde há Gato</h2>
<p>fotos</p>
<p>
	Quando se encontram gatos que foram vítimas de abandono e não estão a conseguir adaptar-se à vida na rua procuramos integrar estes animais em famílias de acolhimento temporário (FAT) ou conseguir que sejam adoptados definitivamente (projecto CEI - Capturar, Esterilizar e Integrar).

​Se pretende adoptar um gato, tenha em conta que a adopção de um animal deve ser um acto bem ponderado. Lembre-se que um gato dura em média 16 anos.

Como se processa a adopção?
1. O adoptante preenche um questionário de pré-adopção e marca uma visita

2. Entre 24 a 48h depois, recebe um email de confirmação da visita ou um email com questões adicionais

3. Na visita o potencial adoptante decide se é compatível com o gato e são esclarecidas quaisquer dúvidas

4. Com o acordo da associação, se decidir avançar com adopção preenche e assina um termo de responsabilidade

5. Se levar uma transportadora, poderá levar o gato logo após a visita.

​

Onde estamos?
No Monte da Caparica, em Almada.
</p>
