html body {
	color: #404040;
}
.sea-green {
	color: #77c492;
}
.begonia {
	color: #f96a71;
}
.sunglow {
	color: #ffcd45;
}
.aero {
	color: #6dbdec;
}
.lemon-yellow {
	color: #ffef45;
}
.grey {
	color: #262626;
 }
 .bum {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	/* Column | row */
  }
