<!-- <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="height: 400px;">
        <div class="carousel-item active" style="height: 400px;">
            <img src="../../assets/img01.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item" style="height: 400px;">
            <img src="../../assets/img02.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item" style="height: 400px;">
            <img src="../../assets/img03.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </div>
</div> -->
<ngb-carousel >
	<ng-template ngbSlide>
	  <div class="picsum-img-wrapper">
		<img src="../../assets/img01.jpg" alt="Random first slide" class="w-100">
	  </div>
	  <div class="carousel-caption">
		<h3>10 seconds between slides...</h3>
		<p>This carousel uses customized default values.</p>
	  </div>
	</ng-template>
	<ng-template ngbSlide>
	  <div class="picsum-img-wrapper">
		<img src="../../assets/img02.jpg" class="w-100">
	  </div>
	  <div class="carousel-caption">
		<h3>No mouse events...</h3>
		<p>This carousel doesn't pause or resume on mouse events</p>
	  </div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
		  <img src="../../assets/img03.jpg" class="w-100" alt="...">
		</div>
		<div class="carousel-caption">
		  <h3>No mouse events...</h3>
		  <p>This carousel doesn't pause or resume on mouse events</p>
		</div>
	  </ng-template>
</ngb-carousel>
<div class="row">
    <div class="col-8">
        <h1>Nosso Blogue</h1>
        <div style="background-color: lightgreen; padding: 15px;">
            <h2>Partilhando Vivencias</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../../assets/img03.jpg" class="w-100" alt="">
                </div>
                <div class="col-8">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id justo eu tortor pharetra ornare. Cras sodales iaculis lectus, nec condimentum massa sodales id. Duis dapibus posuere lorem, eu facilisis velit sagittis sed. Aenean enim velit, viverra ac erat id, interdum ultrices mi. Proin pellentesque ac nunc at malesuada.
                    </p>
                </div>
            </div>
        </div>
        <div style="background-color: lightgreen; padding: 15px;">
            <h2>Partilhando Vivencias</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../../assets/img03.jpg" class="w-100" alt="">
                </div>
                <div class="col-8">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id justo eu tortor pharetra ornare. Cras sodales iaculis lectus, nec condimentum massa sodales id. Duis dapibus posuere lorem, eu facilisis velit sagittis sed. Aenean enim velit, viverra ac erat id, interdum ultrices mi. Proin pellentesque ac nunc at malesuada.
                    </p>
                </div>
            </div>
        </div>
        <div style="background-color: lightgreen; padding: 15px;">
            <h2>Partilhando Vivencias</h2>
            <div class="row">
                <div class="col-4">
                    <img src="../../assets/img03.jpg" class="w-100" alt="">
                </div>
                <div class="col-8">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id justo eu tortor pharetra ornare. Cras sodales iaculis lectus, nec condimentum massa sodales id. Duis dapibus posuere lorem, eu facilisis velit sagittis sed. Aenean enim velit, viverra ac erat id, interdum ultrices mi. Proin pellentesque ac nunc at malesuada.
                    </p>
                </div>
            </div>
        </div>
	</div>
	<div class="col-4">
		<p>Associe-se a esta causa e beneficie de descontos para si e para o seu animal</p>
		<img src="../../assets/cartao.webp" alt="">
	</div>
</div>
