<div class="row">
<div class="col-8">
<h2>A Associação Onde há Gato não há Rato</h2>

<p>A associação Onde há Gato não há Rato surgiu em 2013 e actua no concelho de Almada.

	A nossa missão é diminuir a sobrepopulação de “gatos de rua” na área do concelho.  Acreditamos que a solução para o problema dos gatos de rua passa, acima de tudo, pela educação da população no respeito pelos animais, pela prevenção do abandono e pela diminuição da sobrepopulação de gatos no espaço urbano.



	Nesse sentido desenvolvemos:



	Projecto CER (Capturar, Esterilizar e Recolocar)

	Projecto CEI (Capturar, Esterilizar e Integrar)

	Acções de sensibilização junto da população</p>
<h3>A Nossa Missão</h3>
<p>Sendo um animal altamente versátil e adaptável - e um excelente caçador - o gato sobrevive em quase todos os tipos de clima e ambiente, prosperando um pouco por todo o nosso planeta. Encantámo-nos com ele e tornámo-lo um dos animais de estimação mais populares em todo o mundo. No entanto, é importante não esquecer que, para além de ficar fofinho no sofá, o gato existe também na sua forma assilvestrada, vivendo de modo independente e desconfiando dos humanos. São os gatos esquivos, que nos observam de longe e fogem a qualquer movimento. Estes gatos existem por todas as cidades, vilas e aldeias e são uma parte importante da fauna urbana, desempenhando um papel relevante, nomeadamente no controlo de pragas.



	Embora, em liberdade, os gatos tendam a viver de forma solitária ou em pequenas colónias (formadas maioritariamente por fêmeas), o espaço urbano tende a favorecer a sua concentração em determinadas zonas. Nas zonas rurais, pouco habitadas, os animais têm uma área de circulação muito maior (onde se incluem não só as áreas terrestres, mas também as árvores, muros e telhados). Aqui o gato tende a ser um animal bastante discreto. Nas cidades, pelo contrário, a escassez de espaços verdes/baldios/selvagens, tende a resultar na aproximação dos gatos a áreas residenciais e na sua concentração em áreas ricas em alimento e abrigo.



	Sendo um animal bastante prolífico, um ou alguns gatos numa determinada zona, tendem a multiplicar-se rapidamente. Tendo em conta que uma ninhada tem geralmente entre 3-6 gatinhos e que as gatas podem ter várias ninhadas por ano, a partir dos 5-6 meses de idade, estima-se que, em sete anos, um casal de gatos e a sua descendência possa dar origem a cerca de 400 000 gatos. A concentração de um grande número de gatos numa determinada área agrava esta situação, uma vez que acelera os ciclos de reprodução, resultando num aumento do número de cios e gravidezes.</p>
<h3>Os problemas associados à sobrepopulação de “gatos de rua”</h3>
<p>A sobrepopulação de gatos em determinadas zonas tende a causar queixas diversas por parte da “vizinhança humana”, entre as quais se encontram: o barulho, especialmente nas épocas de cio das gatas (miados, lutas entre machos…); invasão de propriedade privada (gatos que urinam, defecam ou escavam no jardim/ quintal de alguém); agressão a gatos com dono; entre outras…



	O aumento das zonas de construção tende a acentuar este tipo de “conflito”. São frequentes os apelos que recebemos dando conta de situações em que os gatos deixam de ser bem-vindos ao território que anteriormente ocupavam: casas abandonadas que foram recuperadas, terrenos baldios que foram construídos, estradas que se construíram onde antes era um sítio pacato…



	Por outro lado, na cidade os gatos estão sujeitos a maiores perigos, nomeadamente o tráfico rodoviário, do qual resultam inúmeras mortes todos os anos. Adicionalmente, a formação de grandes grupos de gatos favorece o desenvolvimento de doenças contagiosas entre os animais, causando grande sofrimento. Algumas das doenças comuns onde existe uma grande concentração de gatos, tendem a ser raras em pequenos grupos.



	A alimentação de gatos de rua por pessoas que não têm em atenção a limpeza e higiene da via pública tende também a causar queixas. Os restos de comida espalham-se pelo passeio e atraem outras pragas (ratos, baratas, moscas, etc.). Se pretende ajudar uma colónia de gatos da sua área de residência, através da alimentação, tenha em consideração sua vizinhança (humana). Alimente os animais com comida seca, evite restos de comida que podem causar maus cheiros e atrair as pragas. Após a alimentação dos gatos recolha os recipientes onde estes comeram, deixando apenas um recipiente limpo para água. Em alguns países, existem já recipientes próprios e devidamente autorizados para a alimentação de animais de rua.



	A insatisfação com a concentração de gatos na vizinhança pode levar a comportamentos violentos para com os animais, sendo a origem de muitos casos de maus tratos e envenenamentos.</p>
<h3>
	Como solucionar os problemas associados à sobrepopulação de “gatos de rua”?
</h3>
<p>Na Onde há Gato não há Rato acreditamos que a solução para o problema dos gatos de rua passa, acima de tudo, pela educação da população no respeito pelos animais, pela prevenção do abandono e pela diminuição da sobrepopulação de gatos no espaço urbano.



	Para além de procurarmos desenvolver acções de sensibilização junto da população (cujos resultados serão apenas visíveis a longo prazo) desenvolvemos dois programas que procuram ajudar a resolver, de forma mais imediata, o problema da sobrepopulação de gatos: o projecto CER (Capturar, Esterilizar e Recolocar) e o projecto CEI (Capturar, Esterilizar e Integrar).

	Para entender estes dois programas, é necessário compreender os diferentes tipos de gatos que circulam nas ruas das nossas cidades e a forma como as suas diferenças justificam diferentes tipos de actuação.</p>

	<p>O que é um “gato de rua”?


		Apesar de pertencerem à mesma espécie, nem todos os gatos têm o mesmo comportamento e nem todos devem ser adoptados como animais de estimação. Na verdade, muitos gatos estão adaptados à vida na rua (num estado semi-selvagem ou assilvestrado) e receiam o contacto com humanos. É importante distinguir entre os diversos “tipos” de gato, respeitando a natureza de cada animal.

		Entre os gatos que vê na rua distinguem-se dois grupos principais: aqueles que têm dono - e passam apenas parte do seu tempo no exterior - e os “gatos de rua” entre os quais se encontram “gatos assilvestrados” e “gatos errantes”. Apesar de não terem dono, os gatos comunitários são frequentemente alimentados por uma ou mais pessoas de uma determinada área. Muitas vezes esse é o único humano do qual se aproximam.





		Qual é a diferença entre um “gato assilvestrado” e um “gato errante”?


		Um gato errante é um gato que se perdeu ou foi abandonado e está habituado ao contacto com humanos. Muitos destes gatos têm dificuldade em adaptar-se à vida na rua.



		Um gato assilvestrado nasceu na rua (filho de um gato errante ou assilvestrado) não tendo sido sociabilizado. Este tipo de gato receia o contacto com pessoas, tendendo a fugir e esconder-se com a aproximação de alguém.



		Os gatos errantes podem vir a reencontrar as suas famílias (no caso de se terem perdido) ou a encontrar novos lares. Os gatos assilvestrados, por sua vez, muito dificilmente se adaptarão à vida de “animal doméstico”, em contacto próximo com pessoas.



		Note-se também que existem gatos errantes que são meigos, mas estão habituados à vida em liberdade, na rua. Confinar este tipo de gato a uma casa ou apartamento não será melhor opção na maior parte dos casos, uma vez que a mudança de ambiente causará grande ansiedade ao animal (embora existam excepções).



		Encontram-se também gatos com comportamentos intermédios que, apesar de estarem habituados a viver na rua, estão também acostumados ao contacto com humanos. Este tipo de gato é frequente em zonas de restaurantes, ou em locais onde alguém lhes dá comida. Apesar de meigos, estes gatos nem sempre se adaptam à vida em clausura. Se pretende adoptar, dê prioridade aos animais que foram abandonados e não conseguem sobreviver sozinhos na rua (gatos errantes).





		Porque existem gatos assilvestrados?


		Se não tiverem contacto com pessoas, as crias de gatos errantes ou de gatos assilvestrados tornar-se-ão assilvestradas, tendo demasiado receio de pessoas para que possam ser adoptadas.

		Uma vez que uma gata pode engravidar a partir dos 5-6 meses, tendo várias ninhadas por ano, o número de gatos assilvestrados pode aumentar rapidamente, se os gatos não forem esterilizados ou castrados. Como referimos anteriormente, estima-se que, em sete anos, um casal de gatos e a sua descendência possa dar origem a cerca de 400 000 gatos.





		Onde e como vivem os “gatos de rua” (errantes e assilvestrados)?


		O grupo dos Felidae, ao qual pertencem os gatos, é formado por predadores solitários que, com a excepção dos leões, não vivem em grupos socialmente estruturados. No entanto, embora os seus antepassados selvagens sejam animais solitários, o comportamento do Felis catus (o nosso “gato doméstico”) é variável, dependendo essencialmente da densidade populacional de gatos e da disponibilidade de alimento.



		O gato tem provado ser uma espécie altamente adaptável. Embora mantenha a sua raiz de caçador solitário, este pode adaptar-se à vida em grupo em diversas situações (quer naturais, quer artificiais). Em liberdade, os gatos podem ter um modo de vida solitário ou integrar uma colónia. Estas são normalmente formadas por pequenos grupos de fêmeas. A colónia ocupa e defende um determinado território onde há alimento disponível e abrigo. Ligação para a vida social do gato.

		Como vimos, no espaço urbano, as colónias tendem a crescer excepcionalmente, causando sobrepopulação e os problemas que lhe estão associados.





		As soluções:


		Capturar, esterilizar, recolocar (CER)


		Como vimos, entre os “gatos de rua”, encontra-se uma grande percentagem de “gatos assilvestrados”, que não estão habituados ao contacto com humanos e que dificilmente se adaptariam à vida de “animal doméstico”.



		Durante anos, as políticas públicas de controlo da população de gatos de rua basearam-se (e em muitos locais continuam a basear-se) na recolha dos animais e na sua colocação em gatis. A sobrelotação dos gatis levava, por sua vez, ao abate dos animais que não eram adoptados ao fim de algum tempo – o que no caso dos gatos assilvestrados é a situação mais comum, uma vez que não são mansos.



		Na Onde há Gato acreditamos que um gato é mais feliz na rua do que num gatil, onde perde a sua liberdade e é sujeito à angústia de estar fechado num ambiente que lhe é estranho. Note-se que o gato tende a reagir mal à mudança de local, quer seja da rua para o cativeiro, quer seja apenas a deslocação de uma área geográfica para outra, onde encontra novos cheiros e ruídos, que o deixam inseguro e nervoso. Em cativeiro, muitos gatos assilvestrados acabam por adoecer e morrer, devido ao stress, que afecta o seu sistema imunitário e ao desenvolvimento de estados depressivos, que levam o animal a deixar de comer, acabando por morrer.

		E, sobretudo, somos contra o abate de animais, apenas porque estão “em excesso”. Não queremos eliminar os gatos de rua, que consideramos ser uma parte importante da fauna urbana e um elemento enriquecedor para as cidades – mas apenas evitar a sua sobrepopulação que, como vimos, origina diversos problemas.



		Acreditamos que a esterilização dos gatos de rua (através do sistema de captura, esterilização e recolocação) é a melhor solução para a resolver o problema da sobrepopulação de gatos em áreas urbanas. Embora reconheçamos que a captura e esterilização de um gato de rua é um processo traumático para o animal, consideramos que esta é a solução menos cruel, entre as que estão actualmente disponíveis. No entanto, aguardamos ansiosamente a criação de novas soluções, menos agressivas, que adoptaremos, sem hesitar, assim que estejam disponíveis.



		Note-se também que a remoção dos gatos (quer pela colocação em gatis, quer pelo abate) não é uma solução eficaz para resolver os problemas que lhes estão associados. Os gatos (errantes e assilvestrados) permanecem num determinado local porque aí têm abrigo e comida. Ao remover uma colónia, os gatos de colónias envolventes podem ocupar o espaço, aproveitando os recursos que este oferece e prolongando os problemas e queixas da vizinhança. Uma colónia controlada, para além de não crescer, permanece no seu território e defende-o da entrada de novos gatos.





		Em que consiste o sistema de captura, esterilização e recolocação (CER)?


		O CER consiste na captura do gato, na sua esterilização e devolução ao seu território original. Habitualmente, a ponta da orelha esquerda é cortada para indicar que o gato foi esterilizado (este é um sinal utilizado a nível internacional).





		​





		Como é que o sistema CER resolve as queixas associadas à presença de gatos de rua numa determinada zona?


		Ao impedir a reprodução dos gatos, o sistema CER, evita a sobrepopulação de uma determinada área. O tamanho da colónia irá estabilizar e diminuir gradualmente ao longo do tempo.

		A esterilização/castração elimina os comportamentos relacionados com acasalamento, que originam frequentemente queixas da vizinhança (lutas entre gatos, miados de gatas com o cio…).

		Os gatos castrados tendem a afastar-se menos da sua “zona de residência”, estando menos sujeitos aos perigos da deslocação em zonas urbanas (nomeadamente ao tráfego rodoviário).





		CEI: Capturar, Esterilizar e Integrar


		Para além dos gatos assilvestrados, encontram-se também na rua gatos errantes, que se perderam ou foram vítimas de abandono. Para além de serem meigos, estes gatos não conseguem adaptar-se à vida na rua. Frequentemente têm dificuldade em alimentar-se e são vítimas de agressões por outros gatos. A ansiedade de estar num ambiente desconhecido e assustador torna-os também mais susceptíveis a doenças.



		Nestes casos – e só nestes casos - recolhemos os gatos e colocamo-los em famílias de acolhimento temporário até encontrar um novo lar permanente.

		Incentivamos uma adopção responsável, procurando garantir que o potencial adoptante reúne as condições adequadas para fornecer um lar permanente ao animal, com acesso aos cuidados básicos de alimentação, higiene, saúde e carinho. E sobretudo, tentar garantir que o gato não se torna novamente vítima de abandono.



		Não medimos o sucesso do nosso programa de adopções através do número de gatos dados, mas sim, através do número de gatos que encontram lar permanente e não são devolvidos à associação ou abandonados.



		​

		O objectivo final
		Com a redução do problema da sobrepopulação de gatos de rua, quer através da esterilização, quer através da redução do abandono, esperamos que no futuro possa haver menos intervenção humana na população de gatos da cidade e um melhor convívio entre humanos e animais.</p>
	</div>
	<div class="col-4">
		<div class="row">
			<div class="col-4">
				<img src="../../../assets/duvidas.webp" alt="">
			</div>
			<div class="col-8">
				Dúvidas Frequentes
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<img src="../../../assets/estatutos.webp" alt="">
			</div>
			<div class="col-8">
				Estatutos
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<img src="../../../assets/orgaos.webp" alt="">
			</div>
			<div class="col-8">
				Órgãos sociais
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<img src="../../../assets/actividades.webp" alt="">
			</div>
			<div class="col-8">
				Relatório de Actividade
				Relatório de Contas
				Plano de Actividades
			</div>
		</div>
	</div>
</div>
